<div class="row page-header">
	<h1><%=t '.title', :default => @device.name %></h1>
</div>

<div class="row">
	<% if @device.on? %>
		<%= link_to 'Turn Off', off_device_path(@device), :method => :post, :class => 'btn btn-warning' %>
	<% else %>
		<%= link_to 'Turn On', on_device_path(@device), :method => :post, :class => 'btn btn-default' %>
	<% end %>
</div>

<div class="row">
	<dl>
		<dt><strong>Name:</strong></dt>
		<dd><%= @device.name %></dd>
		<dt><strong>Particle Id:</strong></dt>
		<dd><%= @device.particle_id %></dd>
		<dt><strong>Power Remaining:</strong></dt>
		<dd><%= "#{@device.power_level}%"%></dd>
		<dt><strong>Locations:</strong></dt>
		<%= render(@device.nearby_locations) || "There are no locations available." %>
	</dl>
</div>

<div style='width: 800px;'>
	<div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div id="markers" data-markers=<%=raw @hash.to_json %> ></div>

<div class="row">
	<%= link_to t('.back', :default => t("helpers.links.back")),
								devices_path, :class => 'btn btn-default', :method => :get  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
								edit_device_path(@device), :class => 'btn btn-default', :method => :get %>
</div>
