<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamps:</strong>
  <%= @device.timestamps %>
</p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Particle:</strong>
  <%= @device.particle_id %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
