<!DOCTYPE html>
<html>
<head>
	<title>GuardianStoneApp</title>
	<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
	<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body role="document">
	<div class="container theme-showcase" role="main">
		<%= render :partial => "shared/flash" %>
		<%= yield %>
	</div>

</body>
</html>
